<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/masonry.custom.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		
			
		<nav id="sticky">
			<div class="dropdown">
			  <button class="circle-ham dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i> </button>
			  <ul class="dropdown-menu dropdown-menu-right">
				<li><a class="page-scroll" href="#aboutme">About Me</a></li>
				<li><a class="page-scroll" href="#projects">Projects</a></li>
				<li><a class="page-scroll" href="#contact">Contact</a></li>
			  </ul>
			</div>
		</nav>
		<section id="aboutme" class="sect">
			<div class="links">
				<ul class="rowlink">
					<li class="item"><a class="white" href="https://github.com/martininguyen"><i class="fa fa-github fa-2x"></i></a> </li>
					<li class="item"><a class="white" href="https://linkedin.com/in/duymartinnguyen"><i class="fa fa-linkedin fa-2x"></i></a> </li>
					<li class="item"><a class="white" href="https://facebook.com/duymartinnguyen"><i class="fa fa-facebook fa-2x"></i></a> </li>

				</ul>
			</div>
			<div class="bgText">
				<span> ABOUT ME </span>
			</div>
			<div class="inner">
				<h1 class="section_header"> Martin Nguyen <br>
											Web Developer </h1>
				<hr class="break">
				<p class="section_paragraph"> 
				I am passionate about front-end development, working with: <b>HTML</b>, <b>CSS</b>, and <b>JavaScript</b>. 
				In addition to front-end, I'm also experienced with full-stack development using: <b>Node.js</b>, <b>SQL</b>, or <b>MongoDB</b>. <br> <br> 
				Besides coding, I love photography and video games. 
				When I'm not working on a project, I am either out exploring new locations to shoot photos, playing Overwatch with my friends, or bowling.
				
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="photos">
				<img id="rand1" class="lazy fit" data-original="img/Photo.jpg" alt="me"/>
				<img id="rand2" class="lazy fit" data-original="img/Lacma.jpg" alt="lacma"/>
				<img id="rand3" class="lazy fit" data-original="img/Shoot.jpg" alt="shoot"/>
				<img id="rand4" class="lazy fit" data-original="img/Tahoe.jpg" alt="tahoe"/>
			</div>

		</section>
	
		
		<section id="projects" class="sect sect_divide">
			<div class="bgText">
				<span> PROJECTS </span>
			</div>
			<div class="inner">
				<h1 class="section_header"> My works</h1>
				<hr class="break">
			</div>
			<div class="row">
			<div class="grid">
					<div class="grid-item ">
						<div class="hovereffect">
							<img class="lazy" data-original="img/Receptional_logo.png" alt="Rec"/>
							<div class="overlay">
								<button class="info" data-toggle="modal" data-target="#recep">See More</button>
							</div>
						</div>
					</div>
					<div class="grid-item ">
						<div class="hovereffect">
							<img class="lazy" data-original="img/TGEX_logo.png" alt="TGEX"/>
							<div class="overlay">
								<button class="info" data-toggle="modal" data-target="#tgex">See More</button>
							</div>
						</div>
					</div>

			</div>
			</div>
			<div class="container">
			<div class="row" style="text-align: center;">
				<h4> <u>Skills</u> </h4>
				
			</div>
			
			<div class="row">
					<div class="col-xs-12 col-sm-offset-3 col-sm-3">
						<h2> Markup / Languages </h2>
						<ul class="twocol">
							<li>C</li>
							<li>C++</li>
							<li>CSS3</li>
							<li>HTML5</li>
							<li>Java</li>
							<li>JavaScript</li>
							<li>jQuery</li>
							<li>Matlab</li>
							<li>MongoDB</li>
							<li>Node.js</li>
							<li>Postgres</li>
							<li>SQL</li>		
						</ul>
					</div>
					<div class="col-xs-12 col-sm-offset-1 col-sm-2">
						<h2> Programs </h2>
						<ul>
							<li> Git </li>
							<li> pgAdmin </li>
							<li> Postgres </li>
							<li> SQLite </li>
						</ul>
						<h2> Misc </h2>
						<ul>
							<li> Photography </li>
							<li>Responsive Design </li>
						</ul>
					</div>
			</div>
			</div>

				
			<div id="recep" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<center><h4 class="modal-title">Receptional</h4></center>
						</div>
						<div class="modal-body">
							<div class="row">						
								<div class="col-xs-12">
									<a href="http://www.receptional.xyz" target="_blank"><img id="modimg" src="img/headers/receptionalhead.png" alt="recephead"></a>
								</div>
								<div class="col-xs-12 col-md-6">
									<h3> About </h3>
									<p> Receptional's goal is to autonomize the job of a receptionist. Your company can use this web application
										to quickly sign in guests arriving for their appointments and have them placed in a queue where your employees
										will be able to then, notify them to come in. Each company will have it's own unique subdomain to manage it's
										guest, employees, and form used for sign in.
									</p>
								</div>
								<div class="col-xs-12 col-md-6">
									<h3> Project Role </h3>
									<p> My official role was the front-end development of Receptional. I worked with two other people to create all the
										parts our users would interact with. It was built using HTML, CSS, JavaScript, and Node.js. Additionally, I worked with
										the back-end to help create the subdomains per company and account creation process of each user and client.
									</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row info-strip">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span class="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span class="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span class="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span class="tech">JS</span></span>
										<span class="pr fa fa-database"><span class="tech">MongoDB</span></span>
										<a href="http://www.receptional.xyz" target="_blank"><span class="pull-right"> receptional.xyz </span></a>
									</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tgex" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<center><h4 class="modal-title">Receptional</h4></center>
						</div>
						<div class="modal-body">
							<div class="row">						
								<div class="col-xs-12">
									<a href="http://tgexpo.tech" target="_blank"><img id="modimg" src="img/headers/tgexpohead.png" alt="tgexhead"></a>
								</div>
								<div class="col-xs-12 col-md-6">
									<h3> About </h3>
									<p> Triton Gaming Expo was Triton Gaming's first electronics, entertainment, and esports convention that we held at
										UC San Diego. The goal of this event was to provide both students and guests with an opportunity to discover new
										games and technologies, explore new careers in the gaming and tech industries, and finally compete against each
										other in one of our tounaments. HTC, Twitch, and other small indie gaming companies came out to showcase their
										products at the event.
									</p>
								</div>
								<div class="col-xs-12 col-md-6">
									<h3> Project Role </h3>
									<p> As Chief Technologies Officer of Triton Gaming, I was tasked to build this website, which served as an information
										and registration portal for our guests. I was the sole developer of the website and had three days to develop this
										website, in order to start publicizing the event. I had the help of a graphic designer and with our coordinated 
										efforts, we were able to crunch out this website on time. It was built using HTML, CSS, JS, and Node.js and deployed
										using Nginx.
									</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row info-strip">
									<p>
										<span class="pull-left">Technologies Used:</span>
										<span class="pull-right">Website Link:</span>
									</p>
									<p class="footer-links">
										<span class="pr fa fa-html5"><span class="tech">HTML</span></span>
										<span class="pr fa fa-css3"><span class="tech">CSS</span></span>
										<span class="pr fa fa-gear"><span class="tech">NODE</span></span>
										<span class="pr fa fa-coffee"><span class="tech">JS</span></span>
										<a href="http://tgexpo.tech" target="_blank"><span class=""> tgexpo.tech </span></a>
									</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		<section id="contact" class="sect sect_divide">
			<div class="bgText">
				<span> CONTACT </span>
			</div>
			<div class="inner">
				<h1 class="section_header"> Hover or Click</h1>
				<hr class="break">
				<br>
				<br>
				<div class="row">
					<div class="col-xs-2 col-md-offset-2 col-md-2">
						<img src="img/lo.png" class="lazy fi icon" data-toggle="tooltip" data-placement="bottom" title="San Diego" alt="location" />
					</div>
					<div class="col-xs-2 col-md-2">
						<img class="lazy fi icon" data-toggle="tooltip" data-placement="bottom" title="(858) 997-8234" src="img/ph.png" alt="phone" />
					</div>
					<div class="col-xs-2 col-md-2">
						<a href="mailto:martinnguyen0618@gmail.com"><img class="lazy fi icon" data-toggle="tooltip" data-placement="bottom" title="martinnguyen0618@gmail.com" src="img/em.png" alt="email" /></a>
					</div>
					<div class="col-xs-2 col-md-2">
						<a href="https://linkedin.com/in/duymartinnguyen"><img class="lazy fi icon" data-toggle="tooltip" data-placement="bottom" title="https://linkedin.com/in/duymartinnguyen" src="img/in.png" alt="linkedin" /></a>
					</div>
					<div class="col-xs-2 col-md-1">
						<a href="https://facebook.com/duymartinnguyen"><img class="lazy fi icon" data-toggle="tooltip" data-placement="bottom" title="https://facebook.com/duymartinnguyen" src="img/fb.png" alt="facebook"></a>
					</div>
				</div>

			</div>
		</section>
		
		
		
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/jquery.lazyload.js"></script>
		<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/scroll.js"></script>
		<script type="text/javascript" src="js/konami.js"></script>
		<script>
			$('.grid').masonry({ 
				isFitWidth: true,
			    gutter: 15
			});
		</script>
		<script>
			$(document).ready(function() {
			  $(window).scroll(function () {
				if ($(window).scrollTop() > 0) {
				  $('#sticky').addClass('fixed');
				}
				if ($(window).scrollTop() < 0) {
				  $('#sticky').removeClass('fixed');
				}
			  });
			});
		</script>
		<script>
			$("img.lazy").lazyload({
				effect : "fadeIn"
			});
		</script>
		<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
		</script>
		
	</body>
</html>